# play with boolean values

Try these:

In [1]:
False | False, True or True, True or False, False or True

(False, True, True, True)

In [2]:
False and False, True & True, True & False, False & True

(False, True, False, False)

In [3]:
False & True

False

In [4]:
not True

False

In [5]:
not False

True

## not operator

In [6]:
not False

True

In [7]:
f = False
not f

True

In [8]:
not True

False

In [9]:
t = True
not t

False

## or operator

In [10]:
True or False

True

In [11]:
True | False

True

In [12]:
True or True

True

In [13]:
True | True

True

In [14]:
False or True

True

In [15]:
False | True

True

In [16]:
False or False

False

In [17]:
False | False

False

## and operator

In [18]:
True and False

False

In [19]:
True and True

True

In [20]:
False and True

False

In [21]:
False and False

False

In [22]:
True & False

False

In [23]:
True & True

True

In [24]:
False & True

False

In [25]:
False & False

False

## combining not, or operators

In [26]:
not (not (True or False))

True

In [27]:
not (True or True)

False

In [28]:
not (False or True)

False

In [29]:
not (False or False)

True

## combining not, and operators

In [30]:
not (True)

False

In [31]:
not (True and False)

True

In [32]:
not (True and True)

False

In [33]:
not (False and True)

True

In [34]:
not (False and False)

True

## equality operator

In [35]:
# assign 2 to variable x
x = 2
x

2

In [36]:
# check if x has value of 2
x == 2

True

In [37]:
3 == 2

False

In [38]:
2 == 2

True

In [39]:
2 == 3

False

### equality operator:   variables on one side or both sides

In [40]:
share_52_wk_high = 3200
today_share_price = 3200
today_share_price == share_52_wk_high

True

In [41]:
today_share_price == 3200

True

In [42]:
# avoid this, as convention
3200 == today_share_price

True

In [43]:
share_52_wk_high = 3200
share_52_wk_low = 2000
today_share_price = 2000
today_share_price == share_52_wk_high

False

In [44]:
n = 20
# this is not normally used by it is still legal
20 == n
# if there is a variable and value in such an operation, variable is on the left side
# correct way
n == 20

True

## not equal operator

In [45]:
5 >= 4

True

In [46]:
5 != 4

True

In [47]:
5 != 5

False

### using variables and values

In [48]:
# Olympic champion Neeraj Chopra throws Javelin 89.3 m in a practice session
# he held the previous national record of 88.07m
last_throw =89.3
national_record = 88.07

# check if his last throw matched his previous record
last_throw >= national_record

True

## scenarion exercise: use equality operator in KYC

In [49]:
# Try this. 
# Create variable to store the customer name as written in the form. 
# Create another variable for name as in Aadhar card
# compare them using equality operator as part an imaginary KYC process

In [50]:
name_in_form = "Sri Krishna"
name_in_aadhar = "sri krishna"
name_in_aadhar == name_in_form

False

In [51]:
name_in_form = "Sri Krishna"
name_in_aadhar = "Srikrishna" 
# kyc step
name_in_form == name_in_aadhar

False

In [52]:
# try editing the texts using upper case, lower case, space, a minor type where you use 0 instead of O

#### if a string value is created using double quotes and the same value with single quotes, are they equal?

In [54]:
name_in_form = 'Srikrishna'
name_in_aadhar = "Srikrishna" 
# kyc step
name_in_form == name_in_aadhar

True

## operators for greater than, less than, greater than or equal to, less than or equal to

In [55]:
# Olympic champion Neeraj Chopra throws Javelin 89.3 m in a practice session
# he held the previous national record of 88.07m
# check if his last throw beat his previous record
last_throw =89.3
national_record = 88.07

last_throw > national_record

True

In [56]:
# create a variable for admission cut_off in Delhi University i.e. if a student scores cut-off or more
# then student is eligible for the admission
cut_off = 95
# create a three variables to hold marks of three different students
marks_A = 96
marks_B = 95
marks_C = 75
# check if each student is eligible or not
marks_A >= cut_off, marks_B >= cut_off, marks_C >= cut_off

(True, True, False)

In [57]:
# Banks approve loans if the EMI due is less than half of the applicant's take home salary per month
# create a variable for take home salary
take_home_salary = 100
# create a variable for EMI
EMI_due = 55

# check if the applicant can be granted the loan
EMI_due < take_home_salary * 0.5

False

# IF statement

In [60]:
x = 1
if (x>=3):
    print('is equal or greater than 3')
else:
    print('is less than 3')

is less than 3

In [ ]:
take_home_pay = 100
EMI = 48
if (EMI < 0.5 * take_home_pay):
    print('loan can be approved')
else:
    print('loan cannot be approved')

loan can be approved

In [ ]:
marks = 99
cutoff = 98
if (marks >= cutoff):
    print('congrats! admitted to the course')
else:
    print('sorry! not admitted to the course')

congrats! admitted to the course

In [ ]:
x = 1
if (x>=3):
    print('is equal or greater than 3')
    print("this will show only in if path")
else:
    print("this will show only in else path")
    print('is less than 3')

this will show only in else path
is less than 3

In [62]:
# create variables for height in m and weight in kgs
# calculate bmi and store it in a new variable
# compare this bmi with the cut-offs for underweight, normal, overweight, obese

# Create variables for height in meters and weight in kilograms
height_m = 1.75  # example height in meters
weight_kg = 68   # example weight in kilograms

# Calculate BMI and store it in a new variable
bmi = weight_kg / (height_m ** 2)

# Compare BMI with the cut-offs for underweight, normal, overweight, obese
if bmi < 18.5:
    category = "Underweight"
elif 18.5 <= bmi < 24.9:
    category = "Normal weight"
elif 25 <= bmi < 29.9:
    category = "Overweight"
else:
    category = "Obese"

# Print the BMI and the corresponding category
print(f"BMI: {bmi:.2f}")
print(f"Category: {category}")

BMI: 22.20
Category: Normal weight

In [ ]:
# typically pass marks in exams are 40. therefore if a student score 39 or less, the result is fail
# create three variables for storing three students' marks
# check each if it is 39 or less

marks_A = 90
marks_B = 75
marks_C = 25

# check result of A
print("A")
if (marks_A >= 40):
    print("Pass")
else:
    print('Fail')

# check result of B
print("B")
if (marks_B < 40):
    print('Fail')
else:
    print('Pass')

# check result of C
print("C")
if (marks_C <= 39):
    print('Fail')
else:
    print('Pass')

A
Pass
B
Pass
C
Fail

In [63]:
# writing the same check in different ways
# consider the previous exercise related to pass marks of 40.
# create a variable to store marks, say the student scored 78
# we can test for Fail result using <= 39
# or Fail result as < 40

# Using <= 39 to check for fail result
marks = 78  # Example marks

# Check for fail result using <= 39
if marks <= 39:
    result = "Fail"
else:
    result = "Pass"
print(f"Using <= 39: Marks: {marks}, Result: {result}")

# Check for fail result using < 40
if marks < 40:
    result = "Fail"
else:
    result = "Pass"
print(f"Using < 40: Marks: {marks}, Result: {result}")

Using <= 39: Marks: 78, Result: Pass
Using < 40: Marks: 78, Result: Pass

In [64]:
# Even numbers are divisible by 2. This means the remainder from a division by 2 is zero.
# create a variable to hold a number. how can we check if this number is an even number?

number = 42  # Example number

# Check if the number is an even number
if number % 2 == 0:
    is_even = True
else:
    is_even = False
print(f"Number: {number}, Is Even: {is_even}")

Number: 42, Is Even: True

In [65]:
# create a variable to hold a number
# can you check if this number is divisible by 7?

number = 49  # Example number

# Check if the number is divisible by 7
if number % 7 == 0:
    is_divisible_by_7 = True
else:
    is_divisible_by_7 = False
print(f"Number: {number}, Is Divisible by 7: {is_divisible_by_7}")

Number: 49, Is Divisible by 7: True

In [66]:
# we saw that there may be more than one way of expressing a statement
# if there is a variable and we want to check of its value equals a number, say 7, we can use var == 7
# are there other ways of stating this?

# Using == 7
var = 7

# Check if var equals 7
is_equal_to_7 = (var == 7)
print(f"Using == 7: Var: {var}, Equals 7: {is_equal_to_7}")

# Using not ((var < 7) or (var > 7))
var = 8

# Check if var equals 7 using an alternative expression
is_equal_to_7_alternative = not ((var < 7) or (var > 7))
print(f"Using not ((var < 7) or (var > 7)): Var: {var}, Equals 7 (alternative check): {is_equal_to_7_alternative}")

Using == 7: Var: 7, Equals 7: True
Using not ((var < 7) or (var > 7)): Var: 8, Equals 7 (alternative check): False

In [67]:
# create the variable and assign 
var = 8
not ((var < 7) or (var > 7))

False

In [68]:
# in the earlier exercises, we focused on evaluating boolean expressions as True or False.
# the IF statement uses this to decide the next lines to execute

marks = 78  # Example marks

# Using an IF statement to decide the result
if marks >= 40:
    result = "Pass"
else:
    result = "Fail"
print(f"Marks: {marks}, Result: {result}")

Marks: 78, Result: Pass

In [ ]:
# there is one more way of writing this

marks = 78
result = ""

if (marks < 40):
    result = "Fail"

if (marks >= 40):
    result = "True"
print(result)

True

In [69]:
# in universities, the following classifications are used: < 40 Fail, 40-59 is Pass, 60-74 First Class
# 75 or more is Distinction
# can you implement this as a series of if statements?

# Create a variable to store marks
marks = 78  # Example marks

# Check the classification based on the marks
if marks < 40:
    classification = "Fail"
elif 40 <= marks <= 59:
    classification = "Pass"
elif 60 <= marks <= 74:
    classification = "First Class"
elif marks >= 75:
    classification = "Distinction"

# Print the marks and the corresponding classification
print(f"Marks: {marks}, Classification: {classification}")

Marks: 78, Classification: Distinction

In [70]:
# Exercise
# can you write interpretation of BMI as a series of if statements?

weight = float(input("Enter weight in Kgs: "))
height = float(input("Enter height in cm: "))
ht_in_meters = height / 100
BMI = weight / (ht_in_meters **2)
print(BMI)

if (BMI < 18.4):
    print("under weight")
elif (BMI <= 24.9):
    print("normal")
elif (BMI <= 29.9):
    print("overweight")
else:
    print("obese")

19.37919743392696
normal

In [ ]:
bmi = 29.1
bmi > 29 and bmi < 29.2

True

In [ ]:
# social media applications recommend new users to connect with. 
# For e.g. LinkedIn suggests new connections.
# an imaginary social media app considers users as teens and adults
# compares their base country
# if there is a match of both then makes recommendations
# create variables for two users: their age, their country
# compare them and if there is a match, print the result

# user 1
age_1 = 20
country_1 = "India"
# user 2
age_2 = 23
country_2 = "India"

score = 0
if (age_1 < 13) or (age_2 < 13):
    score = -1
# check if users are in same age group
elif (age_1 < 18) and (age_2 < 18):
    score = score + 1
elif (age_1 >= 18) and (age_2 >= 18):
    score = score + 1

if (country_1 == country_2):
    score = score + 1

print(score)

2

In [71]:
# User 1
age_1 = 20
country_1 = "India"

# User 2
age_2 = 23
country_2 = "India"

# Check the conditions
if ((country_1 == country_2) and (age_1 < 18) and (age_2 < 18)):
    print("match")
elif (country_1 == country_2) and (age_1 >= 18) and (age_2 >= 18):
    print("match")
else:
    print("no match")

match

In [ ]:
# user 1
age_1 = 15
country_1 = "India"
# user 2
age_2 = 23
country_2 = "India"

# check if users are in same age group
score = 0
if (age_1 < 20) and (age_2 < 20):
    score = score + 1
if (age_1 >= 20) and (age_2 >= 20):
    score = score + 1
if (country_1 == country_2):
    score = score + 1

if score < 0:
    print("underage")
elif score <= 1:
    print("no match")
elif (score == 2):
    print("match")

no match

In [ ]:
# what will be the result of this statement?

if (True):
    print("Hello")
else:
    print("Hi")

Hello

In [ ]:
# short version of if statement

num = 4
if num > 0: print("it is a positive number")

it is a positive number

In [ ]:
# short version of else statement
num = 4
print("negative") if num <= 0 else print("it is a positive number")

positive

In [ ]:
marks = 10
"pass" if marks >= 39 else "fail"

'fail'

In [72]:
x = 5 if x == 0 else 5

In [ ]:
x

5

In [73]:
# input from user
print('Enter your name:')
x = input()
print('Hello, ' + x)

Enter your name:
Hello, Jay

In [74]:
# Exercise:
# A country set up this protocol for their spies. Their field agents will call a toll free number.
# They will get a harmless voice message that says it is The Nowhere Travel company and asks them to leave a message.
# In response the caller states their passcode.
# if the passcode is a valid one, a human operator comes online and greets them with their name
# In this elite team, there are only three agents alive now. Imagine names, passcodes and implement this.
# use only if statements

def spy_protocol(passcode):
    if passcode == "Alpha123":
        return "Welcome Agent Smith"
    elif passcode == "Beta456":
        return "Welcome Agent Johnson"
    elif passcode == "Gamma789":
        return "Welcome Agent Brown"
    else:
        return "Invalid passcode"

# Test cases
print(spy_protocol("Alpha123"))
print(spy_protocol("Beta456"))
print(spy_protocol("Gamma789"))
print(spy_protocol("Delta000"))

Welcome Agent Smith
Welcome Agent Johnson
Welcome Agent Brown
Invalid passcode

In [75]:
# Exercise:
# implement the previous scenario using if-elif statements

def spy_protocol(passcode):
    if passcode == "Alpha123":
        return "Welcome Agent Smith"
    elif passcode == "Beta456":
        return "Welcome Agent Johnson"
    elif passcode == "Gamma789":
        return "Welcome Agent Brown"
    else:
        return "Invalid passcode"

# Test cases
print(spy_protocol("Alpha123"))
print(spy_protocol("Beta456"))
print(spy_protocol("Gamma789"))
print(spy_protocol("Delta000"))

Welcome Agent Smith
Welcome Agent Johnson
Welcome Agent Brown
Invalid passcode

In [76]:
#Exercise: 
# ask for sunsign from user, based on the input print one line prediction for the day

sun_sign = input("Enter your sun sign: ").lower()

if sun_sign == "aries":
    print("Today is a good day to start something new.")
elif sun_sign == "taurus":
    print("Patience will be your best friend today.")
elif sun_sign == "gemini":
    print("Expect some surprising news.")
elif sun_sign == "cancer":
    print("Focus on your home and family.")
elif sun_sign == "leo":
    print("Your charisma will attract people today.")
elif sun_sign == "virgo":
    print("Attention to detail will pay off.")
elif sun_sign == "libra":
    print("Seek balance in your relationships.")
elif sun_sign == "scorpio":
    print("Trust your intuition.")
elif sun_sign == "sagittarius":
    print("Adventure is on the horizon.")
elif sun_sign == "capricorn":
    print("Hard work will bring rewards.")
elif sun_sign == "aquarius":
    print("Innovation will lead to success.")
elif sun_sign == "pisces":
    print("Creativity will flow effortlessly.")
else:
    print("Invalid sun sign.")

Focus on your home and family.

In [77]:
# Exercise:
# there are two people and we know their ages.
# print out the older person's age


age1 = 25
age2 = 30

if age1 > age2:
    print("Older person's age:", age1)
else:
    print("Older person's age:", age2)

# For four people
age1 = 25
age2 = 30
age3 = 22
age4 = 27

max_age = age1

if age2 > max_age:
    max_age = age2
if age3 > max_age:
    max_age = age3
if age4 > max_age:
    max_age = age4

print("Oldest person's age:", max_age)

Older person's age: 30
Oldest person's age: 30

In [78]:
#Exercise:
# investment managers suggest that we should maintain a portfolio that is diversified. The general formula is 10% in Gold
# (100 - age)% in equity and remaining in debt
# ask user for their age and print the recommended portfolio composition

age = int(input("Enter your age: "))
gold = 10
equity = 100 - age
debt = 100 - gold - equity

print("Gold: ", gold, "%")
print("Equity: ", equity, "%")
print("Debt: ", debt, "%")

Gold:  10 %
Equity:  77 %
Debt:  13 %

In [79]:
# Exercise:
# a restaurant asks customer for rating on each of ambience, food, and service
# customer enters a rating 8 to 10 they are satisfied 6-7 is neutral and lesser rating is dissatisfied
# in the end, print a summary like: you were satisfied with our food and ambience but neutral on service


# how to implement:
# ask for rating using three input statements
# using if-elif generate the output

ambience = int(input("Rate the ambience (1-10): "))
food = int(input("Rate the food (1-10): "))
service = int(input("Rate the service (1-10): "))

def rate_experience(rating):
    if rating >= 8:
        return "satisfied"
    elif rating >= 6:
        return "neutral"
    else:
        return "dissatisfied"

ambience_feedback = rate_experience(ambience)
food_feedback = rate_experience(food)
service_feedback = rate_experience(service)

print(f"You were {ambience_feedback} with our ambience, {food_feedback} with our food, and {service_feedback} with our service.")

You were dissatisfied with our ambience, satisfied with our food, and neutral with our service.

In [80]:
# Exercise:
# Did you know that nearly 90% of all trades in stock exchanges algorithmic trades?
# One of the popular types of trades is Arbitrage Trade.
# Example: If TCS sells at 3000 in NSE and 2998 in BSE then arbitrage traders buy from it BSE and sell at NSE and make 2 Rs profit
# In this scenario, we are focused on TCS price in two exchanges: NSE, BSE
# Consider the prices and decide on the trade as Buy from *SE and sell in *SE and also print the potential profit.
# if the difference is less than 1% of the share price it is not worth the cost of conducting the trade 
# so you take in price in BSE and NSE, and the output is "Buy from ": *SE, 'Sell at ': *SE and profit of x Rs per share
# or just 'No trade'

price_nse = float(input("Enter TCS price in NSE: "))
price_bse = float(input("Enter TCS price in BSE: "))

if price_nse > price_bse:
    profit = price_nse - price_bse
    if profit > 0.01 * price_nse:
        print(f"Buy from BSE, Sell at NSE, Profit: {profit} Rs per share")
    else:
        print("No trade")
elif price_bse > price_nse:
    profit = price_bse - price_nse
    if profit > 0.01 * price_bse:
        print(f"Buy from NSE, Sell at BSE, Profit: {profit} Rs per share")
    else:
        print("No trade")
else:
    print("No trade")

Buy from BSE, Sell at NSE, Profit: 3447.0 Rs per share

In [81]:
# Exercise:
# Students are eligible for taking exams if their attendance is at least 75%
# take the total number of classes conducted and the attendance of a student
# if less than cut-off but the student has an exception appoved by the Principal then they are allowed.
# Else permission is denied

total_classes = int(input("Enter the total number of classes conducted: "))
attended_classes = int(input("Enter the number of classes attended: "))
exception_approved = input("Is exception approved by the Principal? (yes/no): ").lower()

attendance_percentage = (attended_classes / total_classes) * 100

if attendance_percentage >= 75 or exception_approved == "yes":
    print("Permission granted to take exams.")
else:
    print("Permission denied to take exams.")

Permission granted to take exams.

In [84]:
# Exercise:
# a company asks their employees to go thru periodic medical tests and you are asked to handle this scenario.
# You may recall BP has two readings. Systolic and Diastolic. Following are criteria for systolic reading.
# Normal: Below 120
# Elevated: 120-129
# Stage 1 high blood pressure (also called hypertension): 130-139
# Stage 2 hypertension: 140 or more
# Call for help: 180 or more.

systolic = int(input("Enter systolic reading: "))

if systolic < 120:
    print("Normal")
elif 120 <= systolic < 130:
    print("Elevated")
elif 130 <= systolic < 140:
    print("Stage 1 hypertension")
elif 140 <= systolic < 180:
    print("Stage 2 hypertension")
else:
    print("Call for help")

Normal

In [86]:
# Exercise:
# Regarding the diastolic blood pressure:
#Normal: Lower than 80
#Stage 1 hypertension: 80-89
#Stage 2 hypertension: 90 or more
# Call for help: 120 or more.

diastolic = int(input("Enter diastolic reading: "))

if diastolic < 80:
    print("Normal")
elif 80 <= diastolic < 90:
    print("Stage 1 hypertension")
elif diastolic >= 90:
    print("Stage 2 hypertension")
else:
    print("Call for help")

Stage 1 hypertension

In [87]:
# Exercise:
# Combine the previous two exercises and rate a patient using both Systolic and Diastolic readings

systolic = int(input("Enter systolic reading: "))
diastolic = int(input("Enter diastolic reading: "))

if systolic >= 180 or diastolic >= 120:
    print("Call for help")
else:
    if systolic < 120 and diastolic < 80:
        print("Normal")
    elif 120 <= systolic < 130 and diastolic < 80:
        print("Elevated")
    elif (130 <= systolic < 140) or (80 <= diastolic < 90):
        print("Stage 1 hypertension")
    elif (140 <= systolic < 180) or (90 <= diastolic < 120):
        print("Stage 2 hypertension")

Stage 1 hypertension

In [88]:
# Delhi university announces cut-offs for admission eligibility. An innovative approach was followed. For each XII board they
# selected a cut-off reflecting the performance levels for that year. For example: CBSE 95%, ICSE 93%, StateBoard 96%,..
# You take the board and actual marks for a student and respond with a message on their eligibility.

board = input("Enter the board (CBSE/ICSE/StateBoard): ").upper()
marks = float(input("Enter your marks: "))

cut_offs = {
    "CBSE": 95,
    "ICSE": 93,
    "STATEBOARD": 96
}

if board in cut_offs:
    if marks >= cut_offs[board]:
        print("Eligible for admission")
    else:
        print("Not eligible for admission")
else:
    print("Invalid board")

Eligible for admission